.c-background-image {
  background: url('https://www.flickr.com/photos/gilad_rom/13916300885/in/photostream/') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
